<launch>
    <arg name="gui" default="true"/>

    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="world_name" value="$(find jetbot_gazebo)/world/jetbot.world"/>
        <arg name="gui" value="$(arg gui)" />
    </include>

    <include file="$(find jetbot_gazebo)/launch/robots.launch"/>

</launch>